// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin border() {
  border:none red thin;
}

$width:100%;

//----------------------------------------------MAIN--

.main-section{
  @include border();
  display: inline-block;
  width:$width * 8/12;
  border-right:solid grey 3px;
  padding-right:1em;
  .rabbit-trail{
    width:100%;
    display: block;
    padding:.5em 0;
    border-bottom:solid grey 3px;
    margin-bottom: 2em;
      a{
        text-decoration: none;
      }
      i{
        margin-left:1em;
      }
  }

.main-section-head{
  border:none green thin;
  padding-bottom:2em;

  .main-section-head-right{
    @include border();
    border:none red thin;
    width:100%;
    text-align: right;

    .publish{
      display: inline-block;
      vertical-align: bottom;
      width:20%;
      padding-top: .75em;
      padding-bottom:.75em;
      background-color: #93c955;
      border-radius:3px;
      color:white;
      font-weight:600;
      font-size:1em;
      border:none
    }
    .save{
      display: inline-block;
    }
  }
  .main-section-head-left{
    // @include border();
    border:none blue thin;
    display: inline-block;
    width:100%;
    .field{
      width:96%;
      display: inline-block;
      vertical-align: bottom;
      padding:0;
      margin:0;
    .title-label{
      display:none;
    }
    .title-input{
      width:100%;
      font-size:3em;
      font-weight: 600;
      margin:0;
      padding:0;
    }
    }
    .title-edit{
      background-color: white;
      border:none;
      font-weight: 600;
      font-size:1.25em;
      color:grey;
      @include border();
      display: inline-block;
      vertical-align: bottom;
    }
    .edit-text{
      display: inline-block;
      vertical-align: bottom;
    }
    .description-display{
      font-size:1.5em;
    }
    .description-field{
      display:inline;
      width:100%;
    .description-input{
      width:96%;
      float:none;
      display:block;
      font-size:1.5em;
      height:3em;
      overflow: scroll;
    }
    .description-label{
      float:none;
      display: none;
    }
    }

  .title-display{
    font-size:3em;
    font-weight: 600;
    display: inline-block;
  }

  }
  }


}
.survey-questions-header{
  font-size:2em;
  font-weight: 600;
}
.test{
  padding-top:1.5em;
  .question-order-box{
    @include border();
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
    display: inline-block;
    vertical-align: top;
    width:6%;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    margin-top:-.16em;
    margin-right:.25em;
    margin-left:-.25em;
  }
  .question-order-box[type=number]::-webkit-inner-spin-button,
  .question-order-box[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.question-container-right{
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
  width:90%;
  @include border();
  display:inline-block;
  vertical-align: top;
  .question-type-label{
    font-size:1.2em;
    font-weight: 600;
    padding-bottom:.2em;
    display:inline-block;
  }
  i{
    float:right;
    color:red;
  }
  .question-description-textarea{
    width:100%;
    max-width: 100%;
  }
  .question-textarea{
    width:100%;
    height:7em;
    max-width: 100%;
    font-size:1em;
  }
}
}

.short-answer{
  @include border();
  width:100%;
  .short-answer-one{
    @include border();
    display: inline-block;
    vertical-align: top;
    padding-top:.75em;
    width:3em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;

  }
  .short-answer-two{
    @include border();
    display: inline-block;
    vertical-align: bottom;
    width:80%;
  h3{
    font-size: 1.2em;
    font-style: italic;
    font-weight: 300;
    display:inline-block;
    @include border();

  }
  span{
    h2{
      font-size:1.5em;
      font-weight: 600;
      padding-top:.4em;
      padding-bottom:.3em;
      @include border();

    }
    input{
      width:90%;
      font-size:1.5em;
      font-style: italic;
      border:solid grey 1px;
      border-radius:2px;
      padding:.25em .5em;
      padding-left:.4em;
      display: inline-block;

    }
    .short_answer_display-edit{
      @include border();
      float:right;

    }
    }
    }
    .delete{
      float:right;
      border:none;
      background-color:white;
      font-weight: 600;
      font-size:1.25em;
      color:red;
      @include border();
      .edit-text{
        display: inline-block;
      }
    .buttons{
      float: right;
      width:20%;
      @include border();

    .edit{
      display: block;
      width: 100%;
      border:none;
      background-color:white;
      font-weight: 600;
      font-size:1.25em;
      @include border();
      .edit-text{
        display: inline-block;
      }
      }
      }
      }
}

.question-type-dropdown{
  display:none;
}

.question-order-box{
  border:none;
}

aside{
  @include border();
  display: inline-block;
  width:$width * 6/24;
  text-align: center;
  padding-left:3em;
  vertical-align: top;
  padding-top:5em;
  .aside-container{
    @include border();
    text-align: left;
    width:90%;
    margin:0 auto;
  h2{
    font-size:2em;
    font-weight: 500;
    padding-bottom:.5em;
  }
  button {
    text-align: left;
    width:100%;
    display: block;
    padding:0 1em;
    border:solid grey thin;
    border-radius:2px;
    margin-bottom:.2em;
    background-color:white;
    h3{
      font-size:1.5em;
      padding-left:.5em;
      .fa{
        margin-right:1em;
      }
    }
  }
  }
}



//----------------------------------PLAYING-WITH-SKULL-TAGS
