// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border() {
  border:none red thin;
}

$width:100%;

.main-section-head{
  border:none green thin;
  padding-bottom:2em;
}

.main-section-head-left{
  // @include border();
  border:none blue thin;
  display: inline-block;
  width:100%;
  .field{
    width:96%;
    display: inline-block;
    vertical-align: bottom;
    padding:0;
    margin:0;
  .title-label{
    display:none;
  }
  .title-input{
    width:100%;
    font-size:3em;
    font-weight: 600;
    margin:0;
    padding:0;
  }
  }
  .title-edit{
    background-color: white;
    border:none;
    font-weight: 600;
    font-size:1.25em;
    color:grey;
    @include border();
    display: inline-block;
    vertical-align: bottom;
  }
  .edit-text{
    display: inline-block;
    vertical-align: bottom;
  }
  .description-display{
    font-size:1.5em;
  }
  .description-field{
    display:inline;
    width:100%;
  .description-input{
    width:96%;
    float:none;
    display:block;
    font-size:1.5em;
    height:3em;
    overflow: scroll;
  }
  .description-label{
    float:none;
    display: none;
  }
  }

.title-display{
  font-size:3em;
  font-weight: 600;
  display: inline-block;
}




}
.survey-questions-header{
font-size:2em;
font-weight: 600;
}
